<!-- [[file:../web.org::#creating-a-template][Creating a Template:1]] -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Item for Sale</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    headline: {{listing.headline}}
    <br>
    price: {{listing.price}}
    <br>
    hood: {{listing.hood}}
    <br>
  </div>
  </div>
</body>
</html>
<!-- Creating a Template:1 ends here -->
