<!-- [[file:../web.org::#rendering-lists][Rendering Lists:1]] -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Animal Adoption!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container text-center">
    <h1 class="jumbotron">Dogs up for Adoption!</h1>
    <div>
      <ul style="list-style: none;">

        <!-- Loop through the dictionary -->
        <div>
          <ul style="list-style: none;">
            {% for name in list %}
            <li> {{ name}} </li>
            {% endfor %}
          </ul>
        </div>
          <!-- Loop through the dictionary -->
        <div>
          <ul style="list-style: none;">
            {% for dogs in dogs %}
            <li> {{ dog.name }}, {{ dog.breed }}</li>
            {% endfor %}
          </ul>
        </div>

      </ul>
    </div>
  </div>
</body>
</html>
<!-- Rendering Lists:1 ends here -->
