<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Animal Adoption!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center">
    <h1 class="jumbotron">Dogs up for Adoption!</h1>
    <div>
      <ul style="list-style: none;">

        <!-- Loop through the dictionary -->
        {% for dog in dogs %}
        <li>{{ dog.name }} | {{ dog.breed }}</li>
        {% endof for %}
        
      </ul>
    </div>
  </div>
</body>

</html>